<header>
	<nav>
		<div class="navbar-button-group">
			<a class="navbar-button" style="background-image: url('/images/icons/icon-home.png');" href="" />
			<a class="navbar-button" style="background-image: url('/images/icons/icon-menu.png');" />
		</div>
		<div class="navbar-button-group">
			<a class="navbar-button" style="background-image: url('/images/icons/icon-theme.png');" />
			<a class="navbar-button" style="background-image: url('/images/icons/icon-language.png')" />
		</div>
	</nav>
</header>

@code {

}
