header {
    padding: 16px 0px;
    position: sticky;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - (16px * 2));
    height: fit-content;
    margin: 0px auto;
}

main {
    flex: 1;
    background-color: #E0E0E0;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: inset 0px 6px 8px -4px #888, inset 0px -6px 8px -4px #888;
    padding: 16px;
}

footer {
    padding: 16px 0px;
    -webkit-user-select: none;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar-button-group {
    display: inline-flex;
    white-space: nowrap;
    align-self: center;
}

.navbar-button {
    display: inline-flex;
    align-content: center;
    margin: 0px 12px;
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
    cursor: pointer;
}

#footer-copyright {
    letter-spacing: -1px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
}
